/* Importación de la fuente Roboto desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicación de la fuente Roboto */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CLASE UTILES */

@layer components {
  .custom-input {
    @apply outline-none w-[60%] px-4 rounded-[1rem] py-2 font-semibold placeholder:text-black;
    box-shadow: 0 0 10px 4px rgba(0, 255, 111, 0.31);
  }
  .button-with-loader {
    @apply bg-verde-spotify rounded-lg py-3 px-4 font-semibold flex items-center justify-center gap-x-2 disabled:grayscale-[0.5];
  }
}

/* ANIMACIONES */

@keyframes points_rotate {
  to {
    transform: rotate(0.5turn);
  }
}
